* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
  background-image: url(bkgnd.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 200px 200px 100px 200px 200px auto;
  padding: 0px 0px;
  grid-gap: 0px 0px;
}

.grid-item {
  padding: 0px;
  font-size: 0px;
  text-align: center;
}
